# Dependencies
node_modules/
npm-debug.log
yarn-error.log

# Build files
build/
dist/
*.js
*.js.map

# Environment files
.env
.env.local
.env.*.local

# Editor specific files
.vscode/
*.iml
*.ipr
*.iws
.idea/
*.sublime*
*.code-workspace

# Logs
logs/
*.log

# Cache
.cache/

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# Jest coverage directory
coverage/

# Production build files
prod-build/
